<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERMAN VS SHAZAM</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <section>
        <div class="top";>
          <h1>MUST READ ALL COLLECTIONS</h1>
          <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels
            from DC, Vertigo, DC Black Label and Milestone Media!</p>
        </div>
       <div class="comics">
         <a href= "/" class ="bookmarks"> HOME PAGE</a>
         <a href="/comic1" class="bookmarks">SUPERMN VS SHAZAM</a>
         <a href="/comic2" class="bookmarks">THE JOKER</a>
         <a href="/comic3" class="bookmarks">WONDER WOMAN</a>
         <a href="/comic4" class="bookmarks">FALLEN ANGEL</a>
         <a href="/comic5" class="bookmarks">RED HOOD: OUTLAW</a>
    
       </div>
<div class="row">
    <div class = "column main" id = "comic1">
        <h2>SUPERMAN VS SHAZAM</h2>
        <p>Two of DC's Heroes collide in this era spanning, action packed comic</p>
    </div>
    <div class = "column photo">
        <img src = "https://www.dccomics.com/sites/default/files/styles/covers192x291/public/gn-covers/2021/03/SMvSHZ_CV_FINAL_603d88ff7a5a23.92628094.jpg"/>
    </div>
</div>
</section>   
</body>
</html>